{% extends 'menu/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        {% for object in object_list %}
        {% include 'reviews/includes/inc_review_card.html' with object=object %}
        {% endfor %}
    </div>
    <a href="{% url 'reviews:reviews_create' %}" class="boxed-btn3 float-left">Добавить отзыв</a>
    {% if user.role == 'admin' %}
    <a href="{% url 'reviews:reviews_deactivated_list' %}" class="boxed-btn3-line float-right">Неактивные отзывы</a>

    <a href="{% url 'reviews:reviews_list' %}" class="boxed-btn3 float-right">Активные отзывы</a>
    {% endif %}
{% include 'menu/includes/inc_pagination.html' %}
</div>

{% endblock %}