{% load my_tags %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <img class="card-img-top"
             src="{{ object.photo|drink_media }}" width="300" height="300"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title pricing-card-title">Цена: {{ object.price }} руб.</h5>
        <a href="{% url 'menu:add_to_cart' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Выбрать</a>

        </div>
    </div>
</div>